/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
 @font-face {
    font-family: "Aller";
    src: url(Aller_Rg.ttf);
}
 
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    width: 100%;
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #fff;
    font-family: 'Aller', arial, serif;
    font-size:1.5em;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

a, a:visited {
    text-decoration: none;
    color: rgb(150,11,11);
}

/* Portrait layout (default) */
.app {
    height: 100%;
    width:100%;                   /* text area width */
    text-align:center;
    margin: auto;
    position: relative;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
	letter-spacing: 1pt;
	font-size: 15pt;
	font-weight: normal;
	margin: 0px;
	text-transform: none;
	overflow: visible;
	font-family: 'Aller', arial, serif;
	padding: 4px;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#960b0b), color-stop(100%,#7e0a09)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #960b0b 0%,#7e0a09 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #960b0b 0%,#7e0a09 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #960b0b 0%,#7e0a09 100%); /* IE10+ */
	background: linear-gradient(to bottom, #960b0b 0%,#7e0a09 100%); /* W3C */
	color: white;
	border-bottom:1px solid #720707;
}

h3 {
    font-size: 15pt;
    font-weight: normal;
    margin-top: 8px;
    letter-spacing: 0.07em;
    margin-bottom: 2px;
    background-color: rgb(150, 11, 11);
    color: white;
    padding: 4px 0 1px 0;
}

h4{
	margin: 3px;
	font-size: 30pt;
	color: #7d0101;
	font-weight: normal;
}

h2{
	margin: 3px;
	font-size: 30pt;
	color: #7d0101;
	font-weight: normal;
}

#login{
    font-size:13pt;
	margin: 0 10px;
}

#sing_in_button{
    margin-top: 8px;
	border: 1px solid #09477b;
	background: #09477b;
}

ul.subtopics{
	text-align: left;
	font-size: 28pt;
	width: 75%;
    border-bottom: #c2c2c2 1px solid;
    border-top: #c2c2c2 1px solid;
	list-style-type: none;
    margin: 6px 0 6px 8%;
    /*padding: 0 0 0 60px;
	list-style-image: url(../img/ul_list.png);*/
}

.message{
    text-align: left;
    text-transform: none;
    font-size: 15pt;
    letter-spacing: 1pt;
}

#message {
	height: 70px;
	width: 80%;
	margin: 10px auto;
}

.messages{
    border-top: #c2c2c2 1px dashed;
    padding: 5px 0 3px 0;
    margin-top: 8px;
	width: 90%;
	margin: 8px auto;
	list-style: none;
}

.spinner {
    position:absolute;
    width:100%;
    height:100%;
    color:#ff0000;
    background-color:#ffffff;
    top: 0;
    left: -100%;
}
.spinner .text {
    position: relative;
    display:block;
    background:#000000;
    top:50%;
    text-align:center;
}

.spinner .spinnerFader {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.5;
    z-index: 10;
}

.showSpinner {
    left: 0;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.listening {
    display:block;
}

.received {
    display:none;
    height: 100%;
    width: 100%;
	background-image: url('../img/skipbug.png');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position: left bottom; 
}

#deviceready {
    width: 100%;
    height: 100%;
}

.login-box {
    position: relative;
	top: 25%;
}

.separator-t{
	border-top: 1px solid #c2c2c2;
	padding: 2px 0 9px 0;
	width: 85%;
	margin:0 auto;
}

.separator-b{
	border-bottom: 1px solid #c2c2c2;
	padding: 9px 0 2px 0;
	width: 85%;
	margin:0 auto;
}
.login-box input {
    font-size: 1.3em;
}

.user-main-box {
    margin: auto;
    width: 90%;
    padding: 5%;
}

ul.topics {
    list-style-type: none;
    margin: 0 0 0 8%;
    padding: 0 0 0 60px;
}
ul.messages li {
    border-bottom: #c2c2c2 1px dashed;
}

ul.topics li {
    font-size: 28pt;
    text-align: left;
    padding-left: 2%;
}

ul.topics li.priority-0, ul.subtopics li.priority-0{
	list-style-image: url(../img/ul_list.png);
}

ul.topics li.priority-1, ul.subtopics li.priority-1{
	list-style-image: url(../img/ul_list2.png);
}

ul.topics li.priority-2, ul.subtopics li.priority-2{
	list-style-image: url(../img/ul_list3.png);
}

.topic {
	color: #303030;
}

.subtopic{
	color: #969696;
}

ul.messages li .datetime {
    display:block;
    font-size:0.6em;
}

ul.messages li div {
    clear: both;
    width: 100%;
}

.datetime {
    padding-right: 3px;
}

.datetime, .author {
    float: right;
    color: rgb(165, 165, 165);
    font-size: 10pt;
    letter-spacing: 1pt;
}

.message {
    width: 100%;
    padding: 10px;
    text-align: left;
}

.author {
    color: rgb(165,165,165);
    font-weight: normal;
    letter-spacing: normal;
    float: left;
    text-transform: none;
    padding-left: 3px;
}

#createTopic {
    position: relative;
    top: 30%;
}

#createUser {
	position: relative;
	top: 25%;
}

fieldset {
    border: none;
    text-transform: none;
    font-size: 14pt;
}

#subtopic-0 {
    margin-left:35px;
}

#name {
    font-size: 13pt;
    margin-bottom: 11px;
	width: 75%;
}

button, input[type=button] {
    padding: 7px;
    letter-spacing: 0.05em;
    border: 1px solid rgb(150, 11,11);
    background: rgb(150, 11, 11);
    color: white;
}

input[type=submit] {
    padding: 7px;
    letter-spacing: 0.05em;
    background: #09477b;
	border: 1px solid #09477b;
    color: white;
}

input[type=text], input[type=password] {
    padding: 5px;
    width: 80%;
    font-size: 16pt;
    border: 2px solid rgb(150, 11, 11);
    letter-spacing: 1px;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.private_messages {
	color: #878686;
	font-size: 12pt;
	font-weight: normal;
	padding-top: 3px;
	text-align: right;
	padding-right: 8%;
}

button#logout {
	float: left;
}

button#messages {
	float: right;
}

button#create_topic, #create_user, #create-subtopic, #create-message, #create-message2{
  background: #09477b;
  border: 1px solid #09477b;
}

button#topic_list, #create_topic {
	margin: 0 10px;
}

button#view-messages {
	background: #09477b;
	border: 1px solid #09477b;
}

.enlarger {

}

.clearfix {
    clear: both;
    width: 100%;
}

.main-top{
	width: 85%;
	margin: 0 auto;
	border-bottom: 1px solid #c2c2c2;
	height: 53px;
	display: block;
	margin-top: 1px;
}

.main-wraper {
	width: 85%;
	margin: 0 auto;
	position: relative;
	top: 30%;
	border-top: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
	padding: 15px 0;
}

.spinnerContainer {
    position:relative;
    width:291.6666666666667px;
    top:50%;
    margin: auto;
    z-index: 15;
}

.circleG {
    background-color:#FFFFFF;
    float:left;
    height:63px;
    margin-left:34px;
    width:63px;
    -webkit-animation-name:bounce_circleG;
    -webkit-animation-duration:1.0499999999999998s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-border-radius:42px;
}

#circleG_1{
    -webkit-animation-delay:0.20999999999999996s;
}

#circleG_2{
    -webkit-animation-delay:0.48999999999999994s;
}

#circleG_3{
    -webkit-animation-delay:0.63s;
}

@-webkit-keyframes bounce_circleG{
    0%{

    }
    50%{
        background-color:#B50000
    }
    100%{
    }
}
