<h1>PokProg</h1>
<div class="main-top"><button id="logout">Atsijungti</button></div>
<div class="main-wraper">
<button id="create_user">Sukurti paskyrą</button>
<button id="delete_user">Naikinti paskyrą</button>
</div>
<script type="text/javascript">
    x$('#logout').click(function() {
        app.controllers.users.logout();
    });
    x$('#create_user').click(function() {
        app.controllers.users.navigateWindow("CREATE_USER");
    });
    x$('#delete_user').click(function() {
        navigator.notification.alert('Neįgyvendinta');
        console.log('delete user');
    });
</script>
 
