<h1>PokProg</h1>
<form action="" id="createUser">
<h4>Sukurti</h4>
<div class="separator-t"></div>
    <input type="text" name="firstname" id="firstname" placeholder="Vardas" />
    <input type="text" name="lastname" id="lastname" placeholder="Pavardė" />
    <input type="text" name="username" id="username" placeholder="Vartotojo vardas" />
    <input type="text" name="email" id="email" placeholder="El. pašto adresas" />
    <fieldset>
        <input type="radio" name="role" id="role-0" value="0" />
        <label for="role-0">Žurnalistas</label>
        <input type="radio" name="role" id="role-1" value="1" />
        <label for="role-1">Redaktorius</label>
    </fieldset>
    <input type="submit" value="Sukurti"/>
<div class="separator-b"></div>
</form>
<script type="text/javascript">
    x$('#createUser').on('submit', function(e) {
            e.preventDefault();
            app.controllers.users.create({
                'firstname': x$(this).find('#firstname').attr('value'),
                'lastname': x$(this).find('#lastname').attr('value'),
                'username': x$(this).find('#username').attr('value'),
                'email': x$(this).find('#email').attr('value'),
                'role': x$(this).find('input[name=role]:checked').attr('value'),
            });

    });
</script>
