<h1>PokProg</h1>
<form action="" id="createTopic">
<h4>Sukurti</h4>
<div class="separator-t"></div>
    <input type="text" name="name" id="name" placeholder="Temos pavadinimas" />
    <fieldset>
        <input type="radio" name="subtopic" id="subtopic-1" value="1"/>
        <label for="subtopic-1">Potemė</label>
        <input type="radio" name="subtopic" id="subtopic-0" value="0"/>
        <label for="subtopic-0">Pastovi tema</label>
    </fieldset>
    <input type="hidden" name="parent" id="parent" value="0" />
    <input type="submit" value="Išsaugoti"/>
<div class="separator-b"></div>
</form>
<script type="text/javascript">
    x$('#createTopic').on('submit', function(e) {
            e.preventDefault();
            app.controllers.topics.create({
                'name': x$(this).find('#name').attr('value'),
                'subtopic': x$(this).find('input[name=subtopic]:checked').attr('value'),
                'parent': x$(this).find('#parent').attr('value')
            });
    });
</script>
