<h1>PokProg</h1>
<div class="login-box">
<h4>Prisijungti</h4>
<div class="separator-t"></div>
    <form action="" id="login">
        <input type="text" name="username" id="username" placeholder="Vartotojo vardas" /><br />
        <input type="password" name="password" id="password" placeholder="Vartotojo slaptažodis" /><br />
        <input id="sing_in_button" type="submit" value="Prisijungti"/>
    </form>
    <script type="text/javascript">
        x$('#login').on('submit', function(e) {
                e.preventDefault();
                app.controllers.users.login(
                    x$(this).find('#username').attr('value'),
                    x$(this).find('#password').attr('value')
                );

        });
    </script>
<div class="separator-b"></div>
</div>
