<h1>PokProg</h1>
<h2></h2>
<div class="separator-t"></div>
<button id="create-message">Rašyti žinutę</button>
<ul class="messages">
</ul>
<button id="create-message2">Rašyti žinutę</button>
<input type="hidden" name="topic-id" id="topic-id" value=""/>
<script type="text/javascript">
    x$('#create-message').click(function(e) {
        e.preventDefault();
        app.controllers.messages.navigateWindow(
            'WRITE_PUBLIC_MESSAGE',
            {
                'topic': x$('#topic-id').attr('value'),
                'parent_name': x$('h2').html()
            }
        );
    });
	x$('#create-message2').click(function(e) {
        e.preventDefault();
        app.controllers.messages.navigateWindow(
            'WRITE_PUBLIC_MESSAGE',
            {
                'topic': x$('#topic-id').attr('value'),
                'parent_name': x$('h2').html()
            }
        );
    });
</script>

