<h1>PokProg</h1>
<h2></h2>
<button id="change-name">Keisti pavadinimą</button>
<button id="delete-topic">Trinti temą</button>
<ul class="subtopics">
</ul>
<button id="messages-archive">Žinučių archyvas</button>
<button id="photo-archive">Nuotraukų archyvas</button>

<h3>Žinutės:</h3>
<ul class="messages">
</ul>
<button id="create-message">Rašyti žinutę</button>
<button id="create-subtopic">Kurti naują potemę</button>
<input type="hidden" name="topic-id" id="topic-id" value=""/>
<script type="text/javascript">
    x$('#create-message').click(function(e) {
        e.preventDefault();
        app.controllers.messages.navigateWindow(
            'WRITE_PUBLIC_MESSAGE',
            {
                'topic': x$('#topic-id').attr('value'),
                'return': 'topic'
            }
        );
    });
    x$('#create-subtopic').click(function(e) {
        e.preventDefault();
        app.controllers.topics.navigateWindow('CREATE_TOPIC', {'topic': x$('#topic-id').attr('value')});
    });

    x$('#change-name').click(function(e) {
        navigator.notification.alert('Neįgyvendinta');
    });
    x$('#delete-topic').click(function(e) {
        navigator.notification.alert('Neįgyvendinta');
    });
    x$('#messages-archive').click(function(e) {
        navigator.notification.alert('Neįgyvendinta');
    });
    x$('#photo-archive').click(function(e) {
        navigator.notification.alert('Neįgyvendinta');
    });

</script>

