<h1>PokProg</h1>
<h2></h2>
<div class="separator-t"></div>
<button id="view-messages">Skaityti žinutes</button> <br />
<button id="delete-topic">Trinti temą</button>
<button id="change-priority">Keisti prioritetą</button> <br />
<div class="separator-b"></div>
<button id="messages-archive">Žinučių archyvas</button>
<button id="photo-archive">Nuotraukų archyvas</button>
<input type="hidden" name="topic-id" id="topic-id" value=""/>
<script type="text/javascript">
    x$('#view-messages').click(function(e) {
        e.preventDefault();
        app.controllers.messages.navigateWindow('VIEW_MESSAGES', {'parent': x$('#topic-id').attr('value'),
                                                                  'parent_name': x$('h2').html()});
    });
    x$('#delete-topic').click(function(e) {
        navigator.notification.alert('Neįgyvendinta');
    });
    x$('#change-priority').click(function(e) {
        navigator.notification.alert('Neįgyvendinta');
    });
    x$('#messages-archive').click(function(e) {
        navigator.notification.alert('Neįgyvendinta');
    });
    x$('#photo-archive').click(function(e) {
        navigator.notification.alert('Neįgyvendinta');
    });
</script>

