<h1>PokProg</h1>
	<div class="main-top">
		<button id="logout">Atsijungti</button>
		<button id="messages">Asmeninės žinutės</button></div>
	<div class="private_messages">Gauta naujų asmeninių žinučių: 1!</div>
	<div class="main-wraper">
		<button id="topic_list">Temų sąrašas</button>
	</div>
    <script type="text/javascript">
        x$('#logout').click(function() {
            app.controllers.users.logout();
        });
        x$('#topic_list').click(function() {
            app.controllers.topics.navigateWindow("TOPICS_WINDOW");
        });
        x$('#messages').click(function() {
            navigator.notification.alert('Neįgyvendinta');
            console.log('messages');
        });
    </script>
