<h1>PokProg</h1>
<form action="" id="write-message">
    <textarea name="message" id="message" value="" placeholder="Žinutės tekstas"></textarea>
    <input type="hidden" name="topic" id="topic" value=""/> <br />
    <input type="hidden" name="parent_name" id="parent_name" value=""/>
    <input type="submit" value="Siųsti"/>
</form>
<script type="text/javascript">
    x$('#write-message').on('submit', function(e) {
            e.preventDefault();
            app.controllers.messages.sendPublicMessage(
                {
                    'topic': x$(this).find('#topic').attr('value')[0],
                    'parent_name': x$(this).find('#parent_name').attr('value')[0]

                },
                document.getElementById('message').value
            );

    });
</script>
